* {
    font-family: Helvetica, sans-serif;
}

body {
    background: no-repeat center url("./resources/astronaut_alone_above_earth.jpg");
    background-size: cover;
    height: 100rem;
}

header {
    color: white;
    font-size: 0.8rem;

}

ul {
    list-style-type: none;
}

h3, h5 {
    color: white;
    text-align: center;
    padding-top: 1rem;

}

#opening-desc {
    color: white;
    margin: 4rem;
}